body.member2 { background-color: #edffed; }
body.member2 section article.profile img { box-shadow: 5px 15px 30px #dbccb7; }
body.member2 section a.btnView { background: linear-gradient(45deg, #a0ff9d, #55f5b2); box-shadow: 5px 10px 20px rgba(33,250,108,.3); }