body.member3 { background-color: #fff3fd; }
body.member3 section article.profile img { box-shadow: 5px 15px 30px rgba(252,99,214,.2); }
body.member3 section a.btnView { background: linear-gradient(45deg, #ef74ff, #ff11ca); box-shadow: 5px 10px 20px rgba(255,17,190,.357); }